.social-icons {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  
  .icons {
    padding-right: 5px;
    margin-top: 10px;
  }
  .social-icons:hover {
    color: grey;
  }
  
  .profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }

  @media (max-width: 500px) {
    .profile-pic {
      width: 120px;
      height: 120px;
      border-radius: 60px;
    }
  }
  ul {
    list-style-type: none;
    
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    color: black;
  }

  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex: 0 0 100%;
    width: 100%;
  }

  


.profile-info {
    justify-content: left;
    align-items: left;
}

.name {
    font-family:Arial, Helvetica, sans-serif;
}