img.darker {
    transition: all 0.3s ease-in-out;
    display: block;
  }
  
  img.darker:hover {
    filter: brightness(15%);
  }

.gallery-front-container {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;    
    display:flex;
    flex-direction: column;
    pointer-events: none;
    
}

