@media(min-width: 300px) {
    .container {

    }

    .home-img {
        width: 400px;
        height: auto;

    }

    .title-text {
        font-family:'Times New Roman', Times, serif;
        color:rgb(14, 14, 14);
        font-size: 50px;
    }
}

@media(min-width: 720px) {
    /* .container {
        margin-top: 80px;
        position: relative;
    }
    
    .home-img {
        width: 1000px;
        z-index: 1;
        right: 20%;
        position: absolute;
    }
    
    
    
    .title-text {
        z-index: 2;
        position: absolute;
        font-family:'Times New Roman', Times, serif;
        left: 33%;
        font-size: 125px;
        text-align: left;
        color:rgb(14, 14, 14);
    } */
    .container {

    }

    .home-img {
        width: 600px;
        height: auto;

    }

    .title-text {
        font-family:'Times New Roman', Times, serif;
        color:rgb(14, 14, 14);
        font-size: 70px;
    }
}



