.navbar-container { 
    padding: 20px; 
    margin-bottom: 20px;
    
  }
  
  .nav-link {
    /* color: black;  */
    text-decoration: none; 
    margin-right: 20px; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    font-size: 20px;

    --tw-text-opacity: 1;
    color: rgb(105 108 109 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  
  .nav-link:hover {
    color:black;
  }
  